<html>
	<head>
		<title></title>
	</head>
	<body>
		<h2>search for employee</h2>
		<!--form for searching product by ID-->
		<form th:action="@{searchbyid}" Method="post">
			<label>Enter ID:</label>
			<input type="text" name="id">
			<button type="submit">search</button>
		</form>
		<!---This code executed the product is avaliable-->
		<div th:if="${product !=null}">
			<h3>Employee Details</h3>
			<p><strong>ID:</strong><span th:text="${employee.id}"></span></p>
			<p><strong>Name:</strong><span th:text="${employee.name}"></span></p>
			<p><strong>Gender:</strong><span th:text="${employee.gender}"></span></p>
			<p><strong>Salary:</strong><span th:text="${employee.salary}"></span></p>
			<p><strong>Department:</strong><span th:text="${employee.department}"></span></p>
			<p><strong>Experince:</strong><span th:text="${employee.experince}"></span></p>
			<p><strong>Da:</strong><span th:text="${employee.Da}"></span></p>
			<p><strong>Hra:</strong><span th:text="${employee.hra}"></span></p>
			<p><strong>DOB:</strong><span th:text="${employee.dob}"></span></p>
			<p><strong>pf:</strong><span th:text="${employee.pf}"></span></p>
			<p><strong>Total salary:</strong><span th:text="${employee.Total salary}"></span></p>
		</div>
		<!---Display message if product is not found-->
		<div th:if="${product==null}">
			<p>No product found with the given ID</p>
			</div>

	</body>
</html>