<html>
	<head>
		<title>Employee</title>
	</head>
	<body>
		<h1>Employee detailes</h1>
		   <form th:action="@{/saveEmployee}" method="post">
			        <lable>Empid:</lable>
					<input type="text" name="name" required> <br><br>
					<lable>EmpName:</lable>
					<input type="text" name="name"required> <br><br>
					<lable>EmpAge:</lable>
					<input type="text" name="name" required> <br><br>
					<lable>EmpSalary:</lable>
					<input type="text" name="name" required> <br><br>
					<lable>Department:</lable>
					<input type="text" name="name" required> <br><br>
					<lable>expernices:</lable>
					<input type="text" name="name" required> <br><br>
					
					
					<button type="submit">Save Employee</button>
					<button type="reset">reset</button>

		 </form>
	</body>
</html>